<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @invoice.number %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @invoice.customer %>
</p>

<p>
  <strong>Invoice date:</strong>
  <%= @invoice.invoice_date %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @invoice.due_date %>
</p>

<p>
  <strong>Total amount:</strong>
  <%= @invoice.total_amount %>
</p>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
