<h3>Invoice Number <%= @invoice.number %></h3>
<h4><em><%= @invoice.customer.name %></em></h4>

<p>
  <strong>Invoice date:</strong>
  <%= @invoice.invoice_date.stamp('September 1, 2015') %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @invoice.due_date.stamp('September 1, 2015') %>
</p>

<p>
  <strong>Total amount:</strong>
  <%= number_to_currency @invoice.total_amount %>
</p>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
