<%= simple_form_for(@payment) do |f| %>
  <%= f.error_notification %>

  <div class="well">
    <h4>Invoice Number <%= @invoice.number %> <small><%= @invoice.customer.name %></small></h4>
    <p>Due on <%= @invoice.due_date.stamp('September 1, 2015') %></p>

    <table class="table table-striped table-hover">
      <thead>
        <th>Description</th>
        <th>Amount</th>
      </thead>
      <tbody>
        <tr>
          <td>Invoice total</td>
          <td><%= number_to_currency @invoice.total_amount %></td>
        </tr>
        <tr>
          <td>Stripe merchant fees</td>
          <td><%= number_to_currency @merchant_fees %></td>
        </tr>
        <tr>
          <td><strong>Total Payment</strong></td>
          <td><strong><%= number_to_currency @payment.total_payment %></strong></td>
        </tr>
      </tbody>
    </table>

    <div class="form-inputs">
      <%= f.hidden_field :invoice_id, value: @invoice.id %>
      <%= f.hidden_field :total_payment, value: @payment.total_payment%>
      <%= f.input :notes %>
    </div>

<!--   <div class="form-actions">
    <%# f.button :submit %>
  </div> -->
  </div>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="<%= @invoice.description %>"
          data-name="Clio + Calliope LLC"
          data-amount="<%= @amount %>"
          data-email="<%= @customer.email %>"
          data-allow-remember-me="true"
          data-locale="auto"></script>
<% end %>
